/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;900&display=swap');


/*______________________ General______________________*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    margin: 0; /* Remove default margin */
    background-color: #141422;
}



/*______________________ Base.html______________________*/



nav {
    animation: borderAnimation 30s infinite; /* Choose your desired color, #28a745 is Bootstrap's success color */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    margin-bottom: 20px; /* Optional: Adjust the margin as needed */
    border-width: 7px;
    border-style: solid;
    background-color: rgb(24, 0, 72);
    
}


@keyframes borderAnimation {
    0% { border-color: #ff0000; } /* Red */
    25% { border-color: #00ff00; } /* Green */
    50% { border-color: #0000ff; } /* Blue */
    75% { border-color: #ffff00; } /* Yellow */
    100% { border-color: #ff00ff; } /* Magenta */
}

main {
    flex: 1; /* Allow main content to take remaining height */
}

footer {
    margin-top: 40px;
    flex-shrink: 0; /* Do not shrink the footer */
    background-color: #141422; /* Set background color to black */
    color: #fff; /* Set text color to white */
    padding: 20px; /* Add padding for better appearance */
    font-size: larger;

}

.white-text{
    color: #fafafa;
}

.fa-github {
    margin-right: 30px; /* Adjust the value as needed */
}

/*______________________ Index.html______________________*/
.full-width {
    min-width: 100vw;
 }
 
 .full-height {
    min-height: 100%;
 }

.btn-border {
    border: 1px solid #000; /* Specify the color and style of the border */
}

.start-to-play-font {
   font-family: 'Press Start 2P', sans-serif;
}

.platform-image {
    height: 80px;
    width: 80px;
    margin: 5px;
    padding: 5px;
}

.plaform-name-spacing {
    margin: 5px;
    padding: 5px;
}


.games-count {
    margin-left: 10px;
    font-weight: bold;
  }

.game-details {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }

.game-image {
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
  }

.game-info {
    flex-grow: 1;
  }

.no-highlight {
    color: inherit; /* Inherit the font color from the parent element */
    text-decoration: none; /* Remove the underline */
}

.no-highlight:hover,
.no-highlight:focus {
    text-decoration: none; /* Remove the underline on hover/focus */
    background-color: transparent !important; /* Remove any background color */
    color: inherit !important; /* Inherit the font color on hover/focus */
}

.no-highlight:hover,
.no-highlight:active {
    font-weight: bold; /* Set the font weight to bold on click */
}

/*______________________ Platform_detail.html______________________*/

.pd-container {
    text-align: left;
    margin-top: 5rem;
}

.pd-platform-image {
    max-width: 60%;
    height: auto;
    margin-bottom: 2rem;
}

.pd-games-container {
    margin-top: 2rem;
    padding: 10px;
}

.pd-game-image {
    width: 100%;
    height: auto
}

.pd-games-header {
    padding-left: 15px; /* Adjust the padding as needed */
}

/*______________________ about.html______________________*/

#about-container {
    min-height: 80vh;
}

/* Image Section */
.about-image-section img {
    width: 100%;
    display: block;
}

/* Text Section */
.about-text-section {
    background-color: #141422; /* Black background for the text section */
    color: white;
    padding: 20px;
    text-align: center;
}

/*______________________ login.html______________________*/

.login-background {
    background: #141422;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    color: rgb(240, 255, 255);
}